/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Globales */

a {
    text-decoration: none;
    color: black;
}

.contenedor {
    max-width: 1200px;
    margin-inline: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}


/***Header navegacion**/

.nombre-sitio {
    margin: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
}

.hero {
    background-image: url(../img/categoria2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}


/**Categorias**/

.categorias h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 10px;
}

.listado-categorias {
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}